.idea
.vscode

*.iml
out
gen
.DS_Store
node_modules/
users/
system
npm-debug.log

public
*.js
*.js.map
!react-test-setup.js
!webpack.config.js
!.editorconfig
!.eslintrc.js
!.prettierrc.js
!jest.config.js
